{{!-- edit and delete existing post per user --}}
<button id="return" class="btn btn-primary">Return</button>

<div class= "auth-container">

  <hr>
  <div>
    <h3>Title: {{title}}</h3>
    <h5>Author: {{user.username}}</h5>
    <p>Content: {{body}}</p>
  </div>
  <hr>
  <hr>
  <h5>Edit Post</h5>
  <form>

        <div class="form-floating">
          <textarea class="form-control" placeholder="{{title}}" id="title" style="height: 50px"></textarea>
          <label for="floatingTextarea2">Editing: {{title}}</label>
        </div>


        <br>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="body" style="height: 150px"></textarea>
          <label for="floatingTextarea2">Editing Content of {{title}}</label>
        </div>

<div class="button-container">
  <button id="editPost" class="btn btn-primary" data-id="{{id}}">Edit Post</button>
  <button id="deletePost" class="btn btn-primary" data-id="{{id}}">Delete Post</button>
</div>
    
    </form>

</div>

<script src="../js/editPost.js"></script>